---
import ProductoRender from '../components/ProductoRender.astro';
import { products } from '../dataSources/productos';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex flex-col justify-end items-center h-auto pb-28 pt-40 px-40 back-products">
    <h1 class="text-3xl text-center my-10">Damos soluciones para cubrir tu necesidad en Bogotá y toda Colombia</h1>
    <p class="text-center py-10 text-gray-500">
      Descubre nuestra amplia gama de productos plásticos diseñados para diferentes industrias. 
      Desde embalajes hasta soluciones agrícolas, ofrecemos materiales de alta calidad que se adaptan a tus necesidades. 
      ¡Explora nuestro catálogo y encuentra la mejor opción para ti!
    </p>
    <div class="w-full flex flex-col gap-40 mt-20">
      {
        products.map((prod, index) => (
          <ProductoRender {...prod} index={index} />
        ))
      }
    </div>
  </main>
</Layout>
