---
import { products } from "../dataSources/productos";
import CartProduct from "./CartProduct.astro";
const favorites = products.filter((prod) => prod.favorite)
---

<section class="w-full h-auto min-h-screen py-8 lg:px-24 flex flex-col gap-10 justify-center items-center">
  <h2 class="relative color-imperio text-4xl after:content-[''] after:block after:w-[90%]
    after:h-[4px] after:bg-red-600 after:absolute after:-bottom-2 after:left-4 after:rounded-full">
    Nuestros Destacados
  </h2> 
  <div class="flex flex-wrap justify-center items-center gap-5">
    {
      favorites.map((prod) => (
        <CartProduct {...prod}/>
      ))
    }
  </div>
</section>