---
import { Image } from 'astro:assets';
import { favoriteProducts } from '../dataSources/favoritos';
import BannerProducts from './tsx/BannerProducts';
---
<div class="w-full h-auto flex flex-col justify-center items-center gap-20 hero-back py-32">
  <h3 class="w-auto xl:w-[800px] text-center text-xl">
		Conoce algunos de nuestros productos favoritos por nuestro clientes
	</h3>
	<div class="w-full h-auto">
		<BannerProducts client:load/>
	</div>
</div> 
