---
import Favorites from "./Favorites.astro";
import Hero from "./Hero.astro";
import SectionProducts from "./SectionProducts.astro";
---

<main class="flex flex-col justify-end items-center h-auto pb-28">
	<Hero />
	<!-- <SectionProducts /> -->
	<!-- <Favorites /> -->
	 <Favorites />
</main>


