---
import { lineas } from "../dataSources/lineas";
import { Capitalize } from "../utils/capitalize"
import SearchProd from "./SearchProd.astro";

---
<nav class="fixed bg-imperio z-50 top-0 w-screen h-auto px-10 lg:px-20 xl:px-40 py-2">
  <div class="flex flex-row justify-between items-center w-full">
    <a href="/">
      <img src="/images/logo.webp" class="rounded-full w-24 h-1w-24" alt="Imperio del Plástico en Bogotá y Colombia">
    </a>
    <SearchProd />
    <ul class="hidden md:flex flex-row gap-10 text-xl font-semibold text-white ">
      <a href="/productos">
        <li>Productos</li>
      </a>
      <li class="relative group"> <!-- Grupo para manejar hover -->
        Lineas
        <div
          class="absolute left-0 w-72 h-auto border-2 border-gray-400 rounded-md bg-white shadow-lg
            opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300"
        >
          {
            lineas.map((linea) => (
              <a class="block py-2 px-5 hover:bg-gray-100 text-base text-black" href={`/linea/${linea}`}>{Capitalize(linea)}</a>
            ))
          }
        </div>
      </li>
      <a href="/contacto">
        <li>Contactanos</li>
      </a>
    </ul>
  </div>
</nav>