<nav class="fixed z-50 top-0 w-screen h-auto backdrop-blur-xl px-40 py-5 mask-fade-top">
  <div class="flex flex-row justify-between items-center w-full h-full px-4">
    <!-- <div class="h-34 w-34 bg-white rounded-full">
      <img src="/images/logo2.png" alt="Logo imperio del plastico" class="h-full w-full object-cover" />
    </div> -->
    <ul class="flex flex-row gap-10 text-xl font-bold">
      <a href="/productos">
        <li>Productos</li>
      </a>
      <li>Categorias</li>
    </ul>
    <a href="/" class="">
      <h2 class="font-medium text-2xl text-outline">IMPERIO DEL</h2>
      <h2 class="ml-4 font-black text-5xl apretado text-outline">PLASTICO</h2>
    </a>
    <ul class="flex flex-row gap-10 text-xl font-bold">
      <li>Catálogo</li>
      <li>Cotiza</li>
    </ul>
  </div>
</nav>
