---
import { lineas } from "../dataSources/lineas";
import { Capitalize } from "../utils/capitalize"

---
<nav class="fixed z-50 top-0 w-screen h-auto px-40 py-5">
  <div class="w-full h-full absolute top-0 left-0 backdrop-blur-xl -z-10 mask-fade-top"></div>
  <div class="flex flex-row justify-between items-center w-full">
    <ul class="flex flex-row gap-10 text-xl font-bold">
      <a href="/productos">
        <li>Productos</li>
      </a>
      <li class="relative group"> <!-- Grupo para manejar hover -->
        Lineas
        <div
          class="absolute left-0 w-72 h-auto border-2 border-gray-400 rounded-md bg-white shadow-lg
            opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300"
        >
          {
            lineas.map((linea) => (
              <a class="block py-2 px-5 hover:bg-gray-100 text-base" href={`/linea/${linea}`}>{Capitalize(linea)}</a>
            ))
          }
        </div>
      </li>
    </ul>
    <a href="/">
      <h2 class="font-medium text-2xl text-outline">IMPERIO DEL</h2>
      <h2 class="ml-4 font-black text-5xl text-outline">PLASTICO</h2>
    </a>
    <ul class="flex flex-row gap-10 text-xl font-bold">
      <a href="/contacto">
        <li>Contactanos</li>
      </a>
      <!-- <li>Cotiza</li> -->
    </ul>
  </div>
</nav>
