---
  const { id } = Astro.props
---
<div class="w-full relative">
  <input
    class="bg-white w-auto lg:w-[450px] xl:w-[500px] text-sm lg:text-lg px-5 py-1 rounded-full focus:outline-none focus:border-0 focus:ring-0"
    type="text"
    placeholder="Buscar productos..."
    id={`searchInput-${id}`}
    autocomplete="off"
  />

  <ul id={`results-${id}`} class="bg-white rounded-lg mt-2 shadow-md absolute top-10 w-auto">

</div>

